<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] [%c{1.}] %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
  <!--<?xml version="1.0" encoding="UTF-8"?>-->
  <!--<Configuration status="INFO">-->
  <!--  <Appenders>-->
  <!--    <Console name="Console" target="SYSTEM_OUT">-->
  <!--      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
  <!--    </Console>-->
  <!--  </Appenders>-->
  <!--  <Loggers>-->
  <!--    <Root level="info">-->
  <!--      <AppenderRef ref="Console"/>-->
  <!--    </Root>-->
  <!--  </Loggers>-->
  <!--</Configuration>-->
