<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.bbt.user.repository.mybatis.UserProfileMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into user_profile (name, phone_no, user_id)
    values (#{name}, #{phoneNo}, #{userId})
  </insert>

  <select id="findByUserId" resultType="com.flab.bbt.user.domain.UserProfile">
    select id, name, phone_no, user_id
    from user_profile
    where user_id = #{userId}
  </select>

  <update id="update">
    update user_profile
    set name=#{name},
    phone_no=#{phoneNo}
    where id = #{id}
  </update>
</mapper>