<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.bbt.user.repository.mybatis.UserMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into user (email, password)
    values (#{email}, #{password})
  </insert>

  <insert id="saveUserProfile" useGeneratedKeys="true" keyProperty="id">
    insert into user_profile (name, phone_no, user_id)
    values (#{name}, #{phoneNo}, #{userId})
  </insert>

  <select id="findById" resultType="com.flab.bbt.user.domain.User">
    select *
    from user
    where id = #{id}
  </select>

  <select id="findByEmail" resultType="com.flab.bbt.user.domain.User">
    select *
    from user
    where email = #{email}
  </select>

  <select id="findByEmailAndPassword" resultType="com.flab.bbt.user.domain.User">
    select *
    from user
    where email = #{email} and password = #{password}
  </select>

  <select id="findUserProfileByUserId" resultType="com.flab.bbt.user.domain.UserProfile">
    select id, name, phone_no, user_id
    from user_profile
    where user_id = #{userId}
  </select>

  <update id="update">
    update user
    set email=#{param.email},
    password=#{param.password},
    where id = #{id}
  </update>

  <update id="updateUserProfile">
    update user_profile
    set name=#{name},
    phone_no=#{phoneNo}
    where id = #{id}
  </update>
</mapper>