<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.bbt.deal.repository.mybatis.DealMapper">

  <insert id="create" useGeneratedKeys="true" keyProperty="id">
    insert into deal (product_id, group_size, discount_price, status, participant_count, is_private,
                      expired_at, closed_at, version)
    values (#{productId}, #{groupSize}, #{discountPrice}, #{status}, 0,
            #{isPrivate}, #{expiredAt}, #{closedAt}, 0)
  </insert>


  <select id="findById" resultType="com.flab.bbt.deal.domain.Deal">
    select *
    from deal
    where id = #{id}
  </select>

  <select id="findByIdForUpdate" resultType="com.flab.bbt.deal.domain.Deal">
    select *
    from deal
    where id = #{id}
  </select>

  <select id="findByStatus" resultType="com.flab.bbt.deal.domain.Deal">
    select *
    from deal
    where status = #{status}
  </select>

  <update id="update" parameterType="com.flab.bbt.deal.domain.Deal">
    UPDATE deal
    SET product_id       = #{deal.productId},
        group_size=#{deal.groupSize},
        discount_price=#{deal.discountPrice},
        group_size=#{deal.groupSize},
        participant_count=#{deal.participantCount},
        is_private=#{deal.isPrivate},
        expired_at=#{deal.expiredAt},
        closed_at=#{deal.closedAt},
        version=#{newVersion}
    WHERE id = #{deal.id}
      AND version = #{oldVersion}
  </update>

  <update id="updateParticipantCountById" useGeneratedKeys="true" keyProperty="id">
    update deal
    set participant_count=#{count}
    where id = #{id}
  </update>

  <update id="updateExpiredDeals" useGeneratedKeys="true" keyProperty="id">
    update deal
    set status=#{afterStatus}
    where status = #{beforeStatus}
      AND end_date &gt; #{time}
      AND start_date &lt; #{time}
  </update>

  <insert id="saveParticipant" useGeneratedKeys="true" keyProperty="id">
    insert into participants (deal_id, user_id)
    values (#{dealId}, #{userId})
  </insert>

  <select id="findParticipantByDealIdAndUserId" resultType="com.flab.bbt.deal.domain.Participant">
    select id, deal_id, user_id
    from participants
    where deal_id = #{dealId} and user_id = #{userId}
  </select>

</mapper>