<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.bbt.deal.repository.mybatis.DealMapper">

  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    insert into deal (product_id, target_num, discount_price, target_period, deal_status, participant_count, is_private)
    values (#{productId}, #{targetNum}, #{discountPrice}, #{targetPeriod}, #{dealStatus}, #{participantCount}, #{isPrivate})
  </insert>
</mapper>